<div>
  <% if @dBlog.errors.any? %>
    <div class="ErrorReportContainer">
      <p>The blog has <%= pluralize(@dBlog.errors.count, "error") %>.</p>
      <ul>
      <% @dBlog.errors.each do |attr,msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>


<div class="EditBlogTitle">
  <h3>Blog Title:</h3>
  <%= form.text_field :title, :class=>"BlogTitleEditArea", :value=>@dBlog.title %><br />
</div>


<div class="SelectBlogCategory">
<h3>Choose blog categories:</h3>
<% $aoBlogCategories.each_with_index do |oBC,index| %>
  <span class="CategoryCheckBox"><%= oBC.sCategoryName %> <%= form.check_box oBC.sHashKeyName, {:checked=>@bHasCategory[index]} %></span>
<% end %>
</div>


<div class="BlogContentContainer">
  <div class="BCHeader">
    <div class="BCLabel FloatLeft"><h3>Edit Content:</h3></div>
    
    <div class="BCAddCode FloatLeft">
      <select id="selectPrettyCodeType">
        <option selected="selected">Normal Text</option>
        <% $aoBlogCategories.each do |oBC| %>
          <% unless oBC.sSHJSCode.nil? %>
            <option><%= oBC.sCategoryName %></option>
          <% end %>
        <% end %>
      </select>
      <button id="buttonAddPrettyCode" type="button">Add</button><br />
    </div>
  </div>

  <div>
    <%= form.text_area :content, :class=>"BCEditArea", :value=>@dBlog.content %><br />
  </div>
</div>


<script type="text/javascript">
var gasAllSHJSCode=new Array();
gasAllSHJSCode[0]="";
<% iCategory=1 %>
<% $aoBlogCategories.each do |oBC| %>
  <% unless oBC.sSHJSCode.nil? %>
    gasAllSHJSCode[<%= iCategory %>]="<pre class='<%= oBC.sSHJSCode %>'>\n</pre>";
    <% iCategory+=1 %>
  <% end %>
<% end %>
</script>

<% provide :webpageTailJavascript do %>
  <%= javascript_include_tag "common/ajaxHelper" %>
  <%= javascript_include_tag "common/textarea_operation_class" %>
  <%= javascript_include_tag "blogs/blogEditor/add_pretty_code" %>
  <%= javascript_include_tag "blogs/blogEditor/event_listener" %>
<% end %>
