<% sTagHtmlClass="CategoryTag" %>
<% sTagCssClass="CategoryTag" %>
<% sTagJavascriptClass="CategoryTag" %>
<% sTagRorClass="CategoryTag" %>
<% sTagPythonClass="CategoryTag" %>
<% sTagJavaClass="CategoryTag" %>
<% sTagCppClass="CategoryTag" %>
<% sTagGitClass="CategoryTag" %>
<% sTagLinuxClass="CategoryTag" %>
<% sTagSqlClass="CategoryTag" %>
<% sTagOthersClass="CategoryTag "%>
<% sTagAllClass="CategoryTag" %>
<% bByAuthor=false %>

<% case onThisPage %>
<% when $sTagHTML %>
  <% sTagHtmlClass="OnThisCategoryTag" %>
<% when $sTagCSS %>
  <% sTagCssClass="OnThisCategoryTag" %>
<% when $sTagJavascript %>
  <% sTagJavascriptClass="OnThisCategoryTag" %>
<% when $sTagRoR %>
  <% sTagRorClass="OnThisCategoryTag" %>
<% when $sTagPython %>
  <% sTagPythonClass="OnThisCategoryTag" %>
<% when $sTagJava %>
  <% sTagJavaClass="OnThisCategoryTag" %>
<% when $sTagCpp %>
  <% sTagCppClass="OnThisCategoryTag" %>
<% when $sTagGit %>
  <% sTagGitClass="OnThisCategoryTag" %>
<% when $sTagLinux %>
  <% sTagLinuxClass="OnThisCategoryTag" %>
<% when $sTagSql %>
  <% sTagSqlClass="OnThisCategoryTag" %>
<% when $sTagOthers %>
  <% sTagOthersClass="OnThisCategoryTag" %>
<% when "All" %>
  <% sTagAllClass="OnThisCategoryTag" %>
<% when "ShowBlog" %>
  <!-- Do Nothing. -->
<% else %>
  <% bByAuthor=true %>
<% end %>  

<div>
  <%= link_to $sTagHTML, blogsCategory_path(:type=>$sTagHTML), {:class=>sTagHtmlClass} %>
  <%= link_to $sTagCSS, blogsCategory_path(:type=>$sTagCSS), {:class=>sTagCssClass} %>
  <%= link_to $sTagJavascript, blogsCategory_path(:type=>$sTagJavascript), {:class=>sTagJavascriptClass} %>
  <%= link_to $sTagRoR, blogsCategory_path(:type=>$sTagRoR), {:class=>sTagRorClass} %>
  <%= link_to $sTagPython, blogsCategory_path(:type=>$sTagPython), {:class=>sTagPythonClass} %>
  <%= link_to $sTagJava, blogsCategory_path(:type=>$sTagJava), {:class=>sTagJavaClass} %>
  <%= link_to $sTagCpp, blogsCategory_path(:type=>$sTagCpp), {:class=>sTagCppClass} %>
  <%= link_to $sTagSql, blogsCategory_path(:type=>$sTagSql), {:class=>sTagSqlClass} %>
  <%= link_to $sTagGit, blogsCategory_path(:type=>$sTagGit), {:class=>sTagGitClass} %>
  <%= link_to $sTagLinux, blogsCategory_path(:type=>$sTagLinux), {:class=>sTagLinuxClass} %>
  <%= link_to $sTagOthers, blogsCategory_path(:type=>$sTagOthers), {:class=>sTagOthersClass} %>
  <%= link_to "All", blogs_path, {:class=>sTagAllClass} %>
  <% if bByAuthor %>
    <%= link_to onThisPage, blogsByAuthor_path(:byAuthor=>onThisPage[11..-1]), {:class=>"OnThisCategoryTag"}%>
  <% end %>
  
  <% if userSignedIn %>
    <%= link_to "Write A New Blog", new_blog_path, {:class=>"CategoryTag", :style=>"background-color:#b5ff75; margin:0 0 0 30px;"} %>
  <% end %>
</div>

