<% provide :webpageTitle, @dbShowBlog.title %>

<% provide :webpageHeadJavascript do %>
  <%= javascript_include_tag "shjs/sh_main" %>
<% end %>

<% provide :webpageTailJavascript do %>
  <%= javascript_include_tag "shjs/loadSHJS" %>
<% end %>

<% provide :webpageCSS do %>
  <%= stylesheet_link_tag "blogsCommon", :media=>"all" %>
  <%= stylesheet_link_tag "showBlog", :media=>"all" %>
  <%= stylesheet_link_tag "shjs/sh_style", :media=>"all" %>
<% end %>

<% provide :webpageMetaTag do %>
  <meta name="keywords" content="<%= @dbShowBlog.title %>" />
  <meta name="description" content="<%= @dbShowBlog.title %>" />
<% end %>


<%= render :partial=>'categoryTags', :locals=>{:onThisPage=>:ShowBlog} %>

<div class="ShareAndSearch">
  <div class="FloatLeft SearchDiv">
    <%= render 'searchForm' %>
  </div>
</div>

<div class="ShowBlog">
    <h2 class="BlogTitleComplete"><%= @dbShowBlog.title %></h2>

    <p class="BlogDateAuthor">[Author: <%= link_to @dbShowBlog.author, blogsByAuthor_path(:byAuthor=>@dbShowBlog.author) %>] &#160; [<%= @dbShowBlog.updated_at.in_time_zone(cookies[:userTimeZone].to_i).strftime("%a, %Y-%m-%d, %H:%M") %>] &#160; [<%= @dbShowBlog.views %> views]</p>
    <% if usernameForSignedInUser==@dbShowBlog.author || isAdministrator %>
      <p class="BlogManage FloatRight">
        <%= link_to "Edit", edit_blog_path(@dbShowBlog) %>
        <%= link_to "Delete", @dbShowBlog, :method=>:delete, data:{confirm: 'Are you sure?'} %>
      </p>
    <% end %>

    <p>
      <% asCategory=parseCategory(@dbShowBlog.category) %>
      <% asCategory.each do |sC| %>
        <%= link_to sC, blogsCategory_path(:type=>sC), {:class=>"BlogCategory"} %>
      <% end %>
    </p>

    <pre class="BlogContent"><%= raw @dbShowBlog.content %></pre>
</div>

