<% provide(:webpageTitle, "Edit") %>
  <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
  <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
  <% end %>
<h2>Edit</h2>


<div>
    <p>Email: <%= @user.email %> <i><%= link_to "Change", editEmail_path %></i></p>
    <p><i><%= link_to "Change Password", changePassword_path %></i></p>
</div>
