<% provide(:webpageTitle, "Edit Email") %>
<h2>Edit Email</h2>

<div>
  <%= form_for(:user, :url=>updateEmail_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <!-- <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %> -->
    <%= f.submit "Save" %><br />
  <% end %>
</div>
