<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "common/getUserTimeZone" %>
    <% if cookies[:userTimeZone].nil? %>
      <script type="text/javascript">
        window.location.reload();
      </script>
    <% end %>
    
    <title>PigRider Blogs | <%= yield(:webpageTitle) %></title>
    <% if userSignedIn %>
      <%= javascript_include_tag "common/jQuery" %>
    <% end %>
    <%= stylesheet_link_tag "layout", :media=>"all" %>
    <%= yield(:webpageCSS) %>
    <%= yield(:webpageHeadJavascript) %>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="application-name" content="blogs.pigRider.com" />
    <meta name="author" content="pigRider" />
    <%= yield(:webpageMetaTag) %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  
  <body<%= yield(:bodyOnLoadCode) %>>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <div class="MainBody">
      <%= yield %>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

    <%= yield(:webpageTailJavascript) %>
  </body>
</html>
